    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "HOME", root_path %></li>
            <li><%= link_to "New Code Category", new_code_path %></li>
            <li><%= link_to "New Snippets", new_snippet_path %>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
