<p>Hello <%= @owner.username %>,</p>
<p>You've received a comment to your blog post</p>
<p>Blog title: <%= @post.title %></p>
<p>Comment: <%= @comment.body %></p>
<p>Regards,</p>
<p>the sound of life</p>
