

 // @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400|PT+Sans);
 // @import url(https://fonts.googleapis.com/css?family=Oswald|Droid+Sans|Lobster);

 .lobster {font-family: 'Lobster', cursive;}
 .droid {font-family: 'Droid Sans', sans-serif;}
 .oswald {font-family: 'Oswald', sans-serif;}
 .opensans {font-family: 'Open Sans', sans-serif;}
 .ptsans {font-family: 'PT Sans', sans-serif;}

 a.no-underline {text-decoration: none !important;}
 .container { width: auto; margin-top: 50px;}
 .well { padding: 10px;}
 .reset-margin { width: auto; margin:0; padding:0}
 .pad-2 {padding: 2px;}
 .right-border {border-right: 1px solid #ccc;}

 body {
   padding-top: 50px;
   color: #222222;
  //  background: url('http://static.tumblr.com/bfda6d83fc4e02024c71c1790932c19c/j4qkzos/VEKndrpqf/tumblr_static_5njae0wqxaosowok8owowsg4k.png') repeat center top fixed;
   padding: 0;
   margin: 0;
   font-weight: normal;
   font-style: normal;
   line-height: 150%;
 }

 .form-wall
 {
     margin-top: 20px;
     padding: 40px 20px 20px;
     -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);

     border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
 }


 .color-55 {color: #555;}
 .color-77 {color: #777;}

 .font-10 {font-size:10px;}
 .font-12 {font-size:12px;}
 .font-16 {font-size:16px;}
 .font-18 {font-size:18px;}
 .font-24 {font-size:24px;}
 .font-28 {font-size:28px;}
 .font-32 {font-size:32px;}
 .font-37 {font-size:37px;}
 .font-42 {font-size:42px;}

 .top-80 {margin-top:80px;}
 .top-70 {margin-top:70px;}
 .top-60 {margin-top:60px;}
 .top-50 {margin-top:50px;}
 .top-40 {margin-top:40px;}
 .top-30 {margin-top:30px;}
 .top-20 {margin-top:20px;}
 .top-10 {margin-top:10px;}

 .bottom-80 {margin-top:80px;}
 .bottom-70 {margin-top:70px;}
 .bottom-60 {margin-top:60px;}
 .bottom-50 {margin-top:50px;}
 .bottom-40 {margin-top:40px;}
 .bottom-30 {margin-top:30px;}
 .bottom-20 {margin-top:20px;}
 .bottom-10 {margin-top:10px;}
