<!-- <div class="body container-fluid">
  <div class="row" id="box-search">
      <div class="thumbnail text-center col-md-12 col-lg-12 col-sm-12">
          <img src="http://andnorth.com/wp-content/uploads/2015/04/keenguide_wb_6.jpg" alt="" class="img-responsive">
          <div class="caption">
              <h1 class="">THE SOUND OF LIFE</h1>
          </div>
      </div>
  </div>
</div> -->

            <!-- <div class="ratio" style="background-image:url('http://andnorth.com/wp-content/uploads/2015/04/keenguide_wb_6.jpg')" /> -->
            <div class="ratio" style="background-image:url('http://4.bp.blogspot.com/-Z9r-RBHSms8/VhEQ2tbTysI/AAAAAAAAAck/NgYkenDHyLQ/s1600/photo-1423753623104-718aaace6772.jpg')" />
            <div class="caption text-center">
                <h1 class="heading lobster text-lowercase">THE SOUND OF LIFE</h1>
            </div>
