<h1 class="lobster text-center">the sound of life</h1>
<div class="site-head-line text-center"></div>
<h4>Search titles or contents for : <%= @search %></h4>
<br>
  <% if @blog.count > 0 then %>
    <% @blog.each do |p| %>
      <div><%= link_to p.title, blog_path(p), class: "blog-title-list" %></div>
      <div class="date-red-sm margin-bottom-10">
        <%= p.created_at.strftime("%B %d, %Y at %I:%M %P") %>
      </div>
      <div class="blog-content">
        <%= p.body.split.first(50).join(' ') %>
        <%#= simple_format(p.body, {}, :sanitize => false).split.first(50).join(' ') %> ..
      </div>
      <hr>
    <% end %>
  <% else %>
    <div>
      No result found
    </div>
  <% end %>
