<div class="text-center top-50">
  <img src="http://i1.wp.com/themeflame.com/sylph-theme/blogging-theme-for-fashion-and-beauty/wp-content/uploads/sites/2/2015/05/Untitled-1.png?resize=360%2C128">
</div>
<div class="text-center top-30 font-28">
  Hi! I'm Arnold Schwarzenegger and I love what I do.<br>Mostly, I love nature and i love to travel.<br>I blog about travel, interesting places and the likes.<br>Thanks for visiting my blog!
</div>
